*{
    margin: 0;
    padding: 0;
}

body{
font-family: "Poppins", sans-serif;
background-color: #16161a;
color: #fffffe;
--white: #fafafa;
--accent: var(--white);
}


.projectli{
    flex: 0 0 200px;
        margin: 0 20px 0 0;
}

.projectli:last-of-type {
    margin: 0;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: white;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #fff3;
}

.skillcard{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}



section {
    overflow: hidden;
}



.card {
    font-size: 164px;
    width: 300px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
        0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
        0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
}

.card-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    margin-bottom: -120px;
}

.splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: path("M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
        );
}




.ag-format-container {
    width: 1142px;
    margin: 0 auto;
   
}

.ag-courses_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.ag-courses_item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: rgb(94, 81, 81);
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: black;
    z-index: 2;
    position: relative;
 
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: black;
    z-index: 2;
    position: relative;
    font-weight: 800;
}

.ag-courses-item_date {
    font-weight: 800;
    color: black;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #2cb67d;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media only screen and (max-width: 1024px) {
    
    .ag-courses_item {
        flex-basis: calc(45% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}


@media only screen and (max-width: 979px) {
    .ag-format-container {
            width: 80%;
        }
    .ag-courses_item {
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}


